<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, Do not worry! Your password is ander control!!!!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                <a href="{{frontUrl}}/restore-password?token={{actionToken}}">You need restore your password, please click on link</a>
            </p>

        </td>
    </tr>
</table>
