<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, We are miss you!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                Dear user! You are extremely important to us! While you were gone, many interesting changes took place on our platform. Follow the link!
            </p>

        </td>
    </tr>
</table>
